/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow:hidden;
  background-repeat:no-repeat;
  color: #E7E5E2FF !important;
  background-image: linear-gradient(#1976d2, rgb(5, 22, 31))
}

